/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/a
Gemfile.lock
spec/dummy/tmp/local_secret.txt
rspec_examples.txt
.byebug_history
